body {
  padding: 50px;
}

section {
  margin: 0 auto;
  width: 50%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EDF8F9;
  padding: 1px 50px 1px 50px;
  margin-bottom: 10px;
  font-weight: 800;
  color: #3E0E0E;
}
